.main {
  margin: auto;
  padding: 0 20%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main .nav {
  margin: 20px 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main a {
  padding: 0;
  color: #0000EE;
}

.footer {
  width: 100%;
  height: 40px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: #C0C0C0;
}

.footer a {
  color: #C0C0C0;
  text-decoration: underline;
}

.body {
  line-height: 1.5;
  font-size: 1.15rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot {
  width: 20%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  margin: 2rem auto 0 auto;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
